<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>

<body>

    <%- include('partials/header') %>
        
    <div class="bannerpromo">
        <img src = "/images/img-home-banner.jpg" alt = "Banner" width = "100%">
    </div>


    <main>
        <section>
            <h4 class="titulares">Basado en tu última visita</h4>
            <div class="contenido">

                <% products.forEach(product => { %>
                    <%- include('partials/product', { product }) %>
                <% }) %>
                
            </div>
        </section>
        
        <section>
            <h4 class="titulares">Ofertas</h4>
            <div class="contenido">

                <% products.forEach(product => { %>
                    <%- include('partials/product', { product }) %>
                <% }) %>
                
            </div>
        </section>    
        <br>
        <br>
        <br>
        
    </main>
    
    <%- include('partials/footer') %>
    
</body>
</html>